## Основные методы строк

In [1]:
s = 'python' 
type(s) # строка

str

#### *Так вот каждый такой тип к примеру (str) связан с определенным набором функций и эти функции называются - методы* 
Чтобы вызвать какой-либо метод необходимо использовать следующий синтаксис:

__объект.метод(аргументы)__<br>
(объектом может быть определенная строка или переменная, при этом после метода всегда должны идти круглые скобки)

#### Метод __upper__ приобразует все малые буквенные символы в заглавные:

In [6]:
s.upper()

res = s.upper() # сохранили результат выполнения метода в переменную 
print(res)

PYTHON

#### Метод __lower__ приобразует все заглавные буквы в малые буквенные символы:

In [7]:
res.lower()

'python'

#### Метод __count__ возвращает число повторений подстроки:
String.count(sub[, start[, end]])
* start - индекс, с которого начинается поиск;
* end - индекс, которым заканчивается поиск;

Все что указанно в квадратных скобках, это не обязательные элементы
* String.count(sub~~[, start[, end]]~~)

In [1]:
msg = 'adra5kad5abr5a'
msg.count('5') # в результате мы увидим что 'ra' повтаряется 2 раза

#msg.count('ra', 4) - с начальным вхождением вернет значение 1, в связи с тем что с
# 4-го символа начали искать.

#msg.count('ra', 4, 10) - с начальным и конечным вхождением вернет значение 0, 
# так как 10 символ не учитывается, а 9-10 символ - это 'ra'

#msg.count('ra', 4, 11) - вернет значение 1, потому что конечное вхождение 11 символ

3

#### Метод __find__ возвращает индекс первого найденного вхождения sub:
String.find(sub[, start[, end]])
* start - индекс, с которого начинается поиск;
* end - индекс, которым заканчивается поиск;

In [2]:
# msg = 'adrakada(br)a' - br начинается с 8 индекса
msg.find('br')

#msg.find('br', 1, 9) # - также принимает индексы

#msg.find('brr') - вернет -1, так как строка не существует

8

##### Метод __rfind__ возвращает индекс первого найденного вхождения sub начиная с правого края (обратное направление поиска):

In [20]:
msg.rfind('br')

8

##### Метод __index__ возвращает индекс первого найденного вхождения sub
Он работает абсолютно как find только с одним отличием, если искомая подстрока несуществует будет вызвана ошибка

In [23]:
msg.index('br')
#msg.index('oa') - вызовет ошибку

8

#### Метод __replace__ выполняет замену подстрок old на новую подстроку new значение :

String.replace(old, new, count=-1)
* count - максимальное количество замен (-1 - без ограничений)

In [24]:
# Например заменим в нашей строке все буквы 'a' на букву 'o'.

msg.replace('a', 'o')

'odrokodobro'

In [27]:
# Заменим все малые буквы 'd' на заглавные 'D'.

msg.replace('d', 'D')

'aDrakaDabra'

In [29]:
# Пример указания нескольких замен (2) буквы а на о
msg.replace('a', 'o', 2)

'odrokadabra'

Важный пример. Мы можем удалить при помощи replace, указанную подстроку

In [28]:
msg.replace('a', '') # указав пустую строку мы удаляем объект

'drkdbr'

##### Метод __isalpha__ возвращает True если трока целеком состоит из букв и False в противном случае:

__Если в строке будет пробел, это вызовет False так как пробел не является строчным символом__

In [31]:
msg.isalpha()

True

In [32]:
abc = 'hello world'
abc.isalpha()

False

##### Метод __isdigit__ возвращает True если трока целеком состоит из цифр и False в противном случае:

__Если в цифровой строке будет точка или математические оператор, пробел, это вызовет False так как они не является строчным цифровым символом__

In [35]:
#n = '5'  
#n.isdigit() - True

num = '-5.6' 
num.isdigit()

False

#### Метод __rjust__ возвращает новую строку с заданным числом символов и при необходимости слева добавляет символы заполнители:

String.rjust(width[, fillchar=''])
* fillchar - по умолчанию пробел
* ВСЕГДА СЛЕДУЕТ УКАЗЫВАТЬ ТОЛЬКО ОДИН СИМВОЛ В fillchar К ПРИМЕРУ '0'

In [40]:
d = 'abc'
d.rjust(5, '.') # В данном примере мы создали строку состоящую из 5 символов rjust(5), в строку состоящую из 3 символов. Дальше мы указали символ
# заполнения rjust(5, '.') точки котрые подставились вместо двух пробелов. в итоге получилась строка из 5 элементов.

'..abc'

Этот метод довольно часто используется, при добавлении не значущих нулей перед цифрами:

In [41]:
d = '12'
d.rjust(4, '0')

'0012'

При этом если мы укажем в rjust(1) первым параметром 1, то строка такой же и останется.

In [42]:
d = '12'
d.rjust(1, '0')

'12'

#### Метод __ljust__ возвращает новую строку с заданным числом символов и при необходимости справа добавляет символы заполнители:

In [43]:
d = '12'
d.ljust(4, '0')

'1200'

In [44]:
d = '12'
d.ljust(4, '*')

'12**'

#### Метод __split__ возвращает коллекцию строк, на которую разбивается исходная строка String:
String.split(sep=None, maxsplit=-1):
* sep - фрагмент разбиения строки

In [3]:
a = 'Иванов Иван Иванович'
a.split() # На выходе получаем список из указанных строк

['Иванов', 'Иван', 'Иванович']

Задание. Мы хотим вернуть список из строки состоящей из цифр, которые различно разделены пробелами и запетыми

In [50]:
digs = '1,  2,3, 4,  5,6'
digs.replace(' ', '').split(',')  #выделяем цифры без каких-либо пробелов, при помощи replace - удаляем пробелы, далее split приобразует строку в список
#разделенный через запятые.

['1', '2', '3', '4', '5', '6']

#### Метод __' '.join__(список) он делает обратную операцию из списка строк, собирает единую строку:
' '.join(list):

In [58]:
digs = '1,  2,3, 4,  5,6'
s = digs.replace(' ', '').split(',') # Используем значения из прошлого задания

', '.join(s) # в join мы указали символ который будет стоят между символами

'1, 2, 3, 4, 5, 6'

Задание. Мы хотим записать строку так, чтобы все слова были через запятые:

In [61]:
fio = 'Иванов Иван Иванович'

', '.join(fio.split())

'Иванов, Иван, Иванович'

#### Метод __strip__ метод удаляет все символы пробелов и переносов строк в начале и в конце строки:

In [62]:
'         hello world       \n'.strip()

'hello world'

#### Аналогичным образом работают методы rstrip и lstrip.

In [63]:
'         hello world       \n'.rstrip()

'         hello world'

In [64]:
'         hello world       \n'.lstrip()

'hello world       \n'

## Методы списков

### Метод append() добавляет значение в конец списка.

* Список является изменяемым типом данных.
* На основании этого нам не нужно делать присваивание результатов в другую переменную.
* Нельзя добавлять более 1-го элемента

In [5]:
a = [1, -54, 3, 23, 43, -45, 0]
a.append(100)
a

[1, -54, 3, 23, 43, -45, 0, 100]

Если мы присвоим список в другую переменную, то мы его потреряем

In [11]:
a = a.append(40)
a

AttributeError: 'NoneType' object has no attribute 'append'

### Метод insert() позволяет вставлять в список в опереденное место, какое-либо значение.

* В данный метод передается только 2 аргумента (1 индекс куда будет подставлено значение, 2 значение).
* Данный метод не удаляет значение, которое мы заменяем по индексу, оно просто отодвигается.

In [14]:
a = [1, -54, 3, 23, 43, -45, 0]
a.insert(3, -1000)
a

[1, -54, 3, -1000, 23, 43, -45, 0]

### Метод remove() он позволяет удалять по значению элемента:

* Следует учитывать что remove удаляет только ближайшее по индексу значение.
* Если в списке содержится True или False или 0 и 1 они могут рассматриваться как аналогичные значения для удаления.
* Если будет отсутсвовать в списке передаваемое значение в указанный метод, то операция преведет к ошибке.

In [15]:
a = [1, -54, 3, 23, 43, -45, 0]
a.remove(-54)
a

[1, 3, 23, 43, -45, 0]

### Метод pop() он позволяет удалять по индексу элемента и вывести его:
* Если мы записываем этот метод без аргументов, то он удалит последнее значение, после чего вернет его при выводе.

In [19]:
a = [1, -54, 3, 23, 43, -45, 0]
a.pop() # удалить последнее значение и выведет его на экран

# Можно запомнить удаляемое значение в переменную, иногда это требуется
end = a.pop()
end

-45

In [20]:
a = [1, -54, 3, 23, 43, -45, 0]
a.pop(1)
a

[1, 3, 23, 43, -45, 0]

### Метод copy() позволяет создавать копию данного списка:
* Если мы будет передавать список в данный метод, то это будет уже другой объект.
* Копию списка мы также можем сделать при помощи срезов.

In [24]:
a = [1, -54, 3, 23, 43, -45, 0]
c = a.copy()  # аналогичные записи c = a[:], c = list(a).
c
#id(a) 2208626854656
#id(c) 2208626854016

[1, -54, 3, 23, 43, -45, 0]

### Метод count() позволяет найти число элементов с указанным значением:

In [26]:
a = [1, -54, 3, 23, 43, -45, 23, 0]
a.count(23)

2

### Метод index() позволяет определять индекс определенного значения:
* Данный метод возвращает первое найденное вхождение.
* Метод имеет 2 аргумента, (1 значение, 2 старт)

In [27]:
a = [1, -54, 3, 23, 43, -45, 23, 0]
a.index(43)

4

In [28]:
a = [1, -54, 3, 23, 43, -45, 23, 1]
a.index(1, 1) # вывело индекс второй 1

7

### Оператор in позволяет определить есть ли значения в списке:

In [29]:
listok = [1, 'a', 3, 23, 43, -45, 23, 1]
'a' in listok

True

### Метод reverse() меняет порядок списка на обратный:

In [31]:
listok = [1, 2, 3, 4, 5]
listok.reverse()
listok

[5, 4, 3, 2, 1]

### Метод sort() сортирует список:
* Сортирует по возрастанию (не убыванию), по умолчанию.
* Метод сортирует именно текущий список, результат не должен присваиваться переменной.
* Сортирует по убыванию (не по возрастанию), при помощи дополнительного параметра reverse = True.
* Данный метод может сортировать слова(строки), по лексическо-графическому порядку.

In [33]:
a = [1, 3, 5, 2, 4]
a.sort()
a

[1, 2, 3, 4, 5]

In [39]:
a.sort(reverse=True)
a

[5, 4, 3, 2, 1]

In [40]:
a = ['b', 'a', 'd', 'c', ]
a.sort()
a

['a', 'b', 'c', 'd']

In [35]:
id(a)

2208626863552

### Метод sorted() возвращает новый отсортированный списoк:
* Отличие от sort() в том, что sorted() возвращает новый список, а не произоводит операции на существующем.

In [34]:
sorted(a)

[1, 2, 3, 4, 5]

In [37]:
id(sorted(a))

2208626880128

## Вложенные списки, многомерные списки

К примеру есть изобращение состоящее из 5 на 5 пикселей, которое нам необходимо хранить в программе:
____________________
| 1, 7,  6, 11,  3  |   - ссылка 1  (каждый цвет представляет собой свое уникальное число, условно они обозначени [1, 7, 6, 11, 3])
| 1, 7,  6, 11,  3  |   -  ссылка 2
| 1, 7,  6, 11,  3  |   -  ссылка 3
| 1, 7,  6, 11,  3  |   -  ссылка 4 
|_1, 7,  6, 11,  3__|   - ссылка 5

Чтобы представить такое изображание нам необходим двумерный список размерность 5 на 5 элементов, ниже реализация:

In [2]:
line = [1, 7, 6, 11, 3] # одномерный список

img = [[1, 7, 6, 11, 3],
       [1, 7, 6, 11, 3],
       [1, 7, 6, 11, 3],
       [1, 7, 6, 11, 3],
       [1, 7, 6, 11, 3]] #двумерный список
img

[[1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [42]:
# Можно сократить код и изобразить список таким образом:

img = [line[:], line[:], line[:], line[:], line[:]]
img

[[1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

In [46]:
img = [line[:]]
img * 5

[[1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3],
 [1, 7, 6, 11, 3]]

Так как каждый список вложен, они имеют соответствующие индексы внутри списka img.

In [47]:
img[0] # обращение к первой ссылке элемента списка

[1, 7, 6, 11, 3]

In [48]:
img[0][1] # обращение ко второму элементу у первой ссылки

7

Замена значений элементов вложенного списка

In [53]:
img[0] = [0, 0, 0, 0, 0]
img

[[0, 0, 0, 0, 0]]

Многомерный список

In [58]:
m = ['a', [2, 1, [True, 'g'], 2], 3, 2, 1]
m

['a', [2, 1, [True, 'g'], 2], 3, 2, 1]

### **Тернарный условный оператор**

Появился в версии Python 2.5<br>
**<значение 1> if <условие> else <значение 2>**

* Работает он так, тернарный оператор возвращает <значение 1>, если условие верно, иначе возвращает <значение 2>

* Тернарный оператор автоматически вызывает результат, просто if мы не можем так использовать.

* В тернарном операторе нет внутренних блоков, поэтому мы можем прописывать только одну какую-либо конструкцию(проверку).

* Активный объект который в зависимости от условия возвращает значение

In [2]:
a = 12
b = 10

res = a + 2 if a > b else b
print(res)

14

In [3]:
s = 'python'
t = 'upper'

res = s.upper() if t == 'upper' else s
print(res)

PYTHON

In [7]:
a = 12
b = 9

res = 'a - ' + ('четное' if a % 2 == 0 else 'нечетное') + ' число'
print(res)

a - четное число

Тернарный оператор, может состоять из нескольких тернарных, но так делают на практике очень редко.

In [8]:
a = 5
b = 7
c = -1

d = (a if a > c else c) if a > b else (b if b > c else c)
print(d)

7

### Циклы в Python

* Цикл позволяет реализовать некие повторяющееся действия.

* Итерация цикла - однократное выполнение цикла.

* В цикле прописывается условие продолжения работы, а него завершения.

while <условие цикла>:<br>
    оператор 1<br>
    оператор 2<br>         
    ...<br>
    оператор N<br>

In [4]:
# Простая итерация
i = 1

while i <= 10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

In [23]:
# Простая итерация с отрицательными числами
i = -1

while i > -10:
    print(i)
    i-= 1
print(i)

-1
-2
-3
-4
-5
-6
-7
-8
-9
-10

In [8]:
# Реализуем программу считвания суммы всех чисел от 0 до N.
s = 0
i = 1
N = 1000

while i<= 1000:
    s+=i
    i+=1
print(s)

500500

In [9]:
# Реализация с дополнительными операторами  программу считвания суммы всех чисел условия
s = 0
i = 1
N = 1000

while i<= 1000 and i <=50: # вычисляте сумму до 1000, но если привысить i = 50, то цикл остановится
    s+=i
    i+=1
print(s)

1275

In [10]:
# Реализация с дополнительными операторами программу считвания суммы нечетных чисел условия
s = 0
i = 1
N = 1000

# 1, 3, 5, 7 
while i<= 1000 and i <=50: # вычисляте сумму нечетный чисел до 1000, но если привысить i = 50, то цикл остановится
    s+=i
    i+=2 # меняем 1 на 2, и i при итерации будет 1 + 2 = 3, ...5
print(s)

625

In [5]:
pass_true = 'password'
ps = ''

while ps != pass_true:
    ps = input('Введите пароль: ')
print('Вход в систему')

Вход в систему

In [27]:
# Выведем все числа кратные трем:
N = 20
i = 1

while i<= N:
    if i % 3 == 0:
        print(i)
    i += 1 # после условного оператора увеличиваем на 1

3
6
9
12
15
18

Вводятся два целых положительных числа n и m, причем, n < m. Вывести в строку через пробел квадраты целых чисел в диапазоне [n; m]. Программу реализовать при помощи цикла while

In [75]:
n, m = list(map(int, input().split()))
i = 0          
while n <= m:
    i = n * n
    n += 1
    print(i, end=" ")

4 9 16

### Операторы break, continue и else

* **break** - досрочное завершение цикла;
* **continue** - пропуск одной итерации цикла;

In [1]:
print('запуск цикла')

i = 0
while True:
    i += 1
    break # цикл выполнится один раз, так как break остановит его и выполниться завершение

print('завершение цикла')

запуск цикла
завершение цикла

In [4]:
#Задача найти хотябы одно четное число
d = [1, 5, 3, 6, 0, -4]

flFind = False # означает нашли мы хотябы одно четное в списке или нет
i = 0
while i < len(d):
    print(i) # выведем для наглядности, это индексы (4 это 6 в списке)
    flFind = d[i] % 2 == 0 # если переданное число будет четное возвратит True
    if flFind: # если равен True
        break # прирываем цикл
    
    i += 1
    
print(flFind)

0
1
2
3
True

In [5]:
# Задача, предположим что мы в программе просим пользователя вводить числа и все нечетные значения будем суммировать. Но как только пользователь введет
#число 0, то подсчёт суммы прекращается.

s = 0 # будет хранить сумму нечетных введенных значений
d = 1 # куда пользователь будет вводить какие-либо значения

while d != 0:
    d = int(input('Введите целое число: '))
    if d % 2 == 0:
        continue # позволяет пропустить нижний код, если будет введено четное число
    
    s += d
    print('s = ' + str(s))

s = 1
s = 4
s = 9
s = 16

### Оператор else в цикле while


while<условие цикла>: } - заголовок
    оператор 1
    оператор 2 } - тело цикла
    ...
    оператор N

else:
    блок операторов  
    после завершения } - блок, выполняемый после штатного завершения цикла
    цикла

In [10]:
# Пример. Предположим что нам нужно посчитать сумму ряда, если в ряде встричается деление на 0, то деление следует прервать

# S = 1/2 + 1/3 + 1/4 + 1/10 ... + 1/0

S = 0 # будет хранить сумму
i = -10 # будет менятся от допустим -10 и до 100

while i < 0:
    if i == 0:
        break
    S += 1/i # подсчитываем сумму
    i += 1 # на каждой итерации цикла увеличим
else: # Необязательный параметр, который будет выведен после того как отработает цикл
    print('Сумма вычислена корректно')
    
print(S)

Сумма вычислена корректно
-2.9289682539682538

Имеется одномерный список длиной 10 элементов, состоящий из нулей:

p = [0] * 10

На каждой итерации цикла пользователь вводит целое число - индекс элемента списка p, по которому записывается значение 1, если ее там еще нет. Если же 1 уже проставлена, то список не менять и снова запросить у пользователя очередное число. Необходимо расставить так пять единиц в список. (После этого цикл прерывается).

Программу реализовать с помощью цикла while и с использованием оператора continue, когда 1 не может быть добавлена в список. Результат вывести на экран в виде последовательности чисел, записанных через пробел.

In [7]:
p = [0] * 10
while p.count(1) != 5:
    d = int(input())
    if p[d] == 1:
        continue
    p[d] = 1
print(*p)

1 0 1 0 1 0 1 0 1 0

In [ ]:
# Более лаконично

p = [0] * 10

while sum(p) < 5:
    p[int(input())] = 1

print(*p)

### Оператор цикла for и функция range
* Итерируемые объекты - объекты состоящие из множества элементов которые можно переберать
for <переменная> in <итерируемый объект>: заголовок<br>
    оператор 1<br>
    оператор 2<br>
    ...<br>
    оператор N<br>

In [1]:
#Задача перебрать все цифры от 1 до 5
d = [1, 2, 3, 4, 5]

for i in d:
    print(i)

1
2
3
4
5

In [2]:
for i in 'python':
    print(i)

p
y
t
h
o
n

Переменная i ссылается на передаваемый после in объект. Она не меняет его содержимое

In [ ]:
# В этом примере мы не изменили содержание списка, мы просто переопределили ссылку переменной х
for i in [1, 2, 3, 4, 5]:
    x = 0

In [3]:
#Способ переопределения итерируемых объектов. 
#Передача списка в качестве итерируемого объекта не лучшая практика для этого используется функция range()

d = [1, 2, 3, 4, 5]

for i in [0, 1, 2, 3, 4]:  
   d[i] = 0   
print(d)

[0, 0, 0, 0, 0]

### Функция range()
**Генерирует арифметическую последовательность**<br>
*Включает в себя параметры:*
* range(start, stop, step)
* range(start, stop)
* range(stop)

In [5]:
# Вывод аналогичный
list(range(0, 5, 1))
list(range(0, 5))
list(range(5))

[0, 1, 2, 3, 4]

In [7]:
#Обратите внимание, что можно и отрицательный шаг
list(range(5, -1, -1))

[5, 4, 3, 2, 1, 0]

In [8]:
#Вернемся к примеру

d = [1, 2, 3, 4, 5]

for i in range(5):  
   d[i] = 0   
print(d)

[0, 0, 0, 0, 0]

Лучше всего при использовании range в параметра указывать длину len(списка). Чтобы не ошибится

In [ ]:
d = [1, 2, 3, 4, 5]

for i in range(len(d)):  
   d[i] = 0   
print(d)

In [9]:
#Пример. Напишем программу для вычисления S = 1/2 + 1/3 + 1/4 + ... + 1/1000

S = 0 # Хранит сумму которую мы будем вычислять
for i in range(2, 1001):
    S += 1/i

print(S)

6.485470860550342